body {
    color: #000;
    background: #fff;

    margin: 0;

    --box-shadow: 0 4px 16px rgba(0, 54, 39, 0.1);
    --color-base: #30C76A;

    /* Because of hero image with margin at the right */
    overflow-x: hidden;

    font-family: Source Sans Pro;
}
header {
    display: flex;

    padding-left: 10px;
}
h1,
h2 {
    font-size: 28px;
    font-family: Amiko;
    font-weight: normal;
}
h2 {
    font-size: 34px;
    font-weight: 600;
    color: #038C65;
    text-align: center;
    margin: 40px 0 20px;
}
[alt=logo] {
    margin-right: 1vw;
}
header nav {
    margin: 20px 0 20px 3vw;

    /* Be before the hero image */
    z-index: 0;
}
header nav a {
    font-family: Amiko;
    color: #333;
    text-decoration: none;
    font-size: 1.1vw;
    margin: 1.5vw;
}
header nav a:hover {
    border-bottom: 3px solid green;
}

#hero {
    display: flex;

    color: #fff;
    background: var(--color-base);
}
#hero p {
    font-size: 18px;
}
#hero div {
    padding: 1% 0 30px 3%;
}
#hero img {
    height: 500px;
    margin-top: -94px;
}

.slide img {
    margin-left: 15px;
}

#news {
    margin: 50px auto 50px;
}
#news img {
    width: 430px;
    object-fit: contain;
}
#news img[src$='linkedin.svg'] {
    width: 20px;
}
#news img[src^='images/luxembourg'] {
    height: 100%;
    object-position: top;
}
.quote {
    font-style: italic;
}

#news,
#our-product,
.blocks,
.slider,
#contact-us {
    font-size: 20px;
}
    @media (max-width: 1000px) {
        #videos .video-description {
            width: auto !important;
        }
        #videos .slide {
            flex-direction: column;
            height: 500px;
        }
        #videos iframe {
            height: 376px;
            width: 100%;
        }
    }

li {
    counter-increment: my-counter;

    display: flex;
    align-items: center;
}

li::before {
    content: counter(my-counter);

    font-size: 34px;
    color: #fff;
    background: #30C76A;
    border-radius: 25px;
    padding: 6px 18px;
    margin: 14px;
}
#our-product p {
    margin: 20px;
}
#our-product > div {
    display: flex;
}
#our-product > div > div {
    padding: 0 5vw 0 0;
}
#our-product img {
    height: 30vw;
    margin-right: 30px;
}
.button {
    color: #000;
    text-decoration: none;
    border-radius: 20px;
    height: 30px;
    font-size: 14px;

    display: flex !important;
    justify-content: center;
    align-items: center;
    margin: auto;

    padding: 5px 20px;

    font-family: Amiko;
}
#presentation-link {
    margin-top: 3vw;
    background: #fff;
    width: 280px;
}
#presentation-link:hover {
    background: lightgreen;
}

#value-to-customers {
    margin: 0 5% 130px;
}

    #value-to-customers .blocks {
        display: flex;
        justify-content: space-around;
    }
    #value-to-customers .blocks > div {
        text-align: center;
        width: 400px;
        margin-left: auto;
        margin-right: auto;
    }

.blocks {
    display: flex;
}
.blocks img {
    margin: 9px;
}
.blocks > * {
    display: flex;
    text-align: left;
    padding: 9px;
    margin: 9px;

    box-shadow: var(--box-shadow);
    border-radius: 20px;
}

#news,
#we-offer-solutions-for,
#videos {
    width: 1290px;
    margin: auto;
}
#we-offer-solutions-for img {
    height: 100%;
}

.slider {
    display: flex;
    margin-bottom: 40px;
}
.slide {
    display: none;

    height: 320px;
}
.slide.active {
    display: flex;
    box-shadow: var(--box-shadow);
    padding: 30px;
}
.slide picture {
    margin-left: 15px;
}
.left, .right {
    display: flex;
    flex-direction: column;
    justify-content: center;

    color: green;
    padding: 20px;
    font-size: 80px;
}
.left:hover,
.right:hover {
    color: lightgreen;
}
.dots {
    display: flex;
    margin: auto;
    justify-content: center;
}
.dots > * {
    border: 1px solid #ccc;
    border-radius: 10px;
    padding: 7px;
    margin: 10px;
}
.left, .right,
.dots > *:not(.current) {
    cursor: pointer;
}
.dots .current {
    background: green;
}

#videos .video-description {
    width: 50%;
    padding-right: 30px;
}

#team {
    margin-top: 70px;

    color: #fff;
    background: var(--color-base);
    font-family: Amiko;
    padding: 10px 30px;

    text-align: center;
}
#team h2 {
    color: #fff;
}
#team .row {
    display: flex;
    justify-content: center;
}
#team .row:first-of-type {
    padding-bottom: 40px;
}
#team .row:last-of-type {
    margin: -10px 0 10px;
}
#team img {
    max-width: 300px;
    max-height: 25vh;
    object-fit: contain;
    padding: 0 2vw;
}
#team a {
    color: #fff;
    text-decoration: none;
}
#team p {
    margin: 4px;
}

form {
    display: flex;
    flex-direction: column;
    width: 400px;
    margin: auto;

    font-family: Amiko;
}
form input:placeholder {
    font-family: Amiko;
}
form > * {
    margin: 10px;
}
form a {
    color: #fff !important;
    background: green;
}
form a:hover {
    color: lightgray !important;
}
form a.disabled {
    background: gray;
}
form a.disabled:hover {
    color: #fff !important;
    cursor: default;
}
input,
textarea {
    padding: 10px;
}
::-webkit-input-placeholder {
    font-family: Amiko;
}

#contact-us .blocks {
    margin: 0 5% 2%;
}
#contact-us .blocks > * {
    width: 30%;
}
#contact-us img {
    width: 100px;
}
#contact-us h3 {
    margin: 0;
}
#contact-us p {
    margin-top: 0;
}
#contact-us a {
    margin-top: 8px;
    display: block;
    text-align: center;
}
#contact-us a:hover {
    color: green
}

footer {
    margin-top: 40px;
    padding: 10px;
    height: 40px;
    background: var(--color-base);

    display: flex;
    align-items: center;
}
footer [alt=logo] {
    height: inherit;
    filter: brightness(10);
}
footer nav {
    margin: auto;
}
footer [href^=mailto] {
    display: block;
}
footer a {
    font-family: Amiko;
    font-size: medium;
    color: #fff;
    text-decoration: none;

    margin: 7px 20px;
}

footer a:hover {
    font-weight: bold;
}


@media (max-width: 1480px) {
    [alt=logo] {
        margin-right: 1vw;
    }
    header nav {
        margin: 20px 0 20px 0;
    }
    header nav a {
        margin: 1vw;
    }
}

@media (max-width: 1235px) {
    header nav {
        display: none;
    }
    #hero img {
        margin-right: -230px;
    }

    #value-to-customers .blocks {
        flex-direction: column;
        width: 80vw;
        margin: auto;
    }

}

@media (max-width: 1100px) {
    [alt=logo] {
        margin-top: 5px;
    }

    header nav {
        display: none;
    }

    #hero img {
        margin-top: unset;
    }

    #our-product {
        height: auto;
    }
    #our-product > div {
        flex-direction: column;
    }
    #our-product img {
        width: 90%;
        height: unset;
     }

    .slider img {
        display: none;
    }

    #news,
    #videos,
    #we-offer-solutions-for {
        width: auto;
    }

    footer nav {
        display: none;
    }
    footer div:last-child {
        margin-left: auto;
    }

    #team img {
        width: 200px;
    }

    #contact-us .blocks {
        flex-direction: column;
    }
        #contact-us .blocks > * {
            width: 100%
        }
        #contact-us img + div {
            align-self: center;
        }

}

@media (max-width: 768px) {
    #hero img {
        height: 600px;
    }

    .slide {
        height: 500px;
    }

    #team .row {
        flex-direction: column;
    }
    #team img {
        margin-top: 50px;
        width: 70vw;
        max-height: unset;
    }
}

@media (max-width: 550px) {
    #hero img {
        display: none;
    }

    .left, .right {
        display: none;
    }
    .dots > * {
        padding: 10px;
        margin: 0 30px;
    }
}

@media (max-width: 425px) {
    #value-to-customers .blocks {
        width: auto;
    }
}

@media (prefers-color-scheme: dark) {
    :root {
        scrollbar-color: #777 #000;
    }
}
