:root {
    /* Colors from https://material.io/guidelines/style/color.html#color-color-palette */

    /* 50 */
    --mdc-theme-accent: #B39DDB;

    /* Deep Purple A700 */
    --mdc-theme-secondary: #6200EA;
}


/* From http://materializecss.com/preloader.html */
#progress {
    position: fixed;
    width: 100%;

    /* Content script on g.co need it to connect left border of the window */
    left: 0;

    top: 0;

    height: 0;

    background: var(--mdc-theme-accent);

    transition: .3s;
}
#progress.active {
    height: 4px;
}
#progress .indeterminate {
    background: var(--mdc-theme-secondary);
}
#progress .indeterminate:before {

    /* Without content will be not displayed */
    content: '';

    position: absolute;
    background-color: inherit;
    top: 0;
    bottom: 0;
    animation: indeterminate 2.1s cubic-bezier(0.65, 0.815, 0.735, 0.395) infinite;
}
#progress .indeterminate:after {
    content: '';
    position: absolute;
    background-color: inherit;
    top: 0;
    bottom: 0;
    animation: indeterminate-short 2.1s cubic-bezier(0.165, 0.84, 0.44, 1) infinite;
    animation-delay: 1.15s;
}
@keyframes indeterminate {
    0% {
        left: -35%;
        right: 100%
    }

    60% {
        left: 100%;
        right: -90%
    }

    100% {
        left: 100%;
        right: -90%
    }
}
@keyframes indeterminate-short {
    0% {
        left: -200%;
        right: 100%
    }

    60% {
        left: 107%;
        right: -8%
    }

    100% {
        left: 107%;
        right: -8%
    }
}

